<div class="row z-depth-1 indigo lighten-4" style="padding-top:20px; padding-bottom: 20px">

  <div class="row">
    <div class="col s0 xl2"></div>
    <div class="col s12 xl8">
      <h2 style="text-align: center"><b>Bienvenido a la plataforma de videos enriquecidos</b></h2>
    </div>
    <div class="col s0 xl2"></div>
  </div>

  <div class="row" style="margin-top: 25px;">
    <div class="col s0 xl2"></div>
    <div class="col s12 xl8">
      <h5 style="text-align: center">Accede para crear un video</h5>
    </div>
    <div class="col s0 xl2"></div>
  </div>


  <div class="row">
    <div class="col s12">
      <div  style="display: flex;align-items: center;justify-content: center;">
        <div style="margin-right: 15px">
          <a class="waves-effect waves-light btn indigo" href="/session">INICIAR SESIÓN</a>
          <a class="waves-effect waves-light btn indigo" href="/users/new">REGISTRARSE</a>
        </div>

      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 25px;">
    <div class="col s0 xl2"></div>
    <div class="col s12 xl8">
      <h5 style="text-align: center">¡Encuentra un video y empieza a aprender!</h5>
    </div>
    <div class="col s0 xl2"></div>
  </div>

  <div class="row" style="margin-top: 25px;">
    <div class="col s0 xl2"></div>
    <div class="col s12 xl8">
      <form method="get" action="/videos"
      <div  style="display: flex;align-items: center;justify-content: center;">
        <div style="flex-grow: 1; margin-right: 15px">
          <input class="indigo-text" style="color: blue" type="text" name="search" value="<%= locals.search || '' %>" placeholder="buscar video" autocomplete="off" />
        </div>
        <div>
          <button class="btn waves-effect waves-light indigo" type="submit" name="action">BUSCAR</button>
        </div>
      </div>
    </form>
    </div>
    <div class="col s0 xl2"></div>
  </div>

</div>

<div class="row" style="margin-top: 25px;">
  <div class="col s0 xl2"></div>
  <div class="col s12 xl8">
    <h3>Últimos videos</h3>
  </div>
  <div class="col s0 xl2"></div>
</div>



<div class="row" style="margin-top: 25px;">
  <div class="col s0 xl2"></div>
  <div class="col s12 xl8">
    <% for (var i in videos) {%>
      <a style="text-decoration:none; color: black" href="/videos/<%=videos[i].id%>">
      <div class="col s12 m6 xl4">
        <div class="card">
          <div class="card-image">
            <img src="https://i.ytimg.com/vi/<%=videos[i].url%>/hqdefault.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <h5 style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;"><b><%=videos[i].title%></b></h5>
            <h6 style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"><%=videos[i].creator.username%></h6>
            <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"><%=videos[i].description%></p>
            </div>
          </div>
        </div>
        </a>


    <%}%>
  </div>
  <div class="col s0 xl2"></div>
</div>

<div class="row" style="margin-top: 25px;">
  <div class="col s0 xl2"></div>
  <div class="col s12 xl8">
    <% if (locals.paginate_control) { %>
      <%- paginate_control -%>
    <% } %>
    </div>
  <div class="col s0 xl2"></div>
</div>
